*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --background:#000430;
    --secondaryBackground:#171c48;
    --text:#fff;
    --purple:#828dff;
    --teal:#24feee;
}

body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 20px auto;
    max-width: 550px;
}

.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content:space-between;
    gap: 50px;  
    width: 100%;
}

.details{
    width: 100%;

}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress{
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem{
    width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task{
    display: flex;
    align-items: center;
    text-align: justify;
}

.task p{
    padding: 20px;
}

.task input{
    width: 20px;
    height: 20px;
}

.taskItem img{
    width: 40px; 
    height: 40px;
    margin: 0;
    cursor: pointer;
}

.completed p{
    text-decoration: line-through;
    color: var(--teal);
}